.login-container .btn-login{
    background-color: #4caf50;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:bold;
    margin-top:8px;
}
.login-container .form-group input,
.login-container .form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
}

.login-container h2{
    margin-top: 20px;
    text-align: center;
}

.login-container .form-group {
    margin-bottom: 15px;
}

.login-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size:14px;
}
.login-container{
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.login-page{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #301934;
}